<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jcut.gmall.order.mapper.OrderDetailMapper">
    <resultMap type="org.jcut.gmall.bean.OmsOrderDetail" id="omsOrderDetailMap">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="oid" column="oid"/>
        <result property="pdesc" column="pdesc"/>
        <result property="price" column="price"/>
        <result property="num" column="num"/>
        <result property="img" column="img"/>
        <association property="omsOrder" javaType="org.jcut.gmall.bean.OmsOrder">
            <id property="oid" column="oid"/>
            <result property="order_status" column="order_status"/>

        </association>
    </resultMap>

    <select id="selectOrderDetailByUser" resultMap="omsOrderDetailMap" parameterType="String">
        select o.oid,o.order_status,d.id,d.pid,d.pdesc,d.price,d.num,d.img from oms_order o  join oms_order_detail d on o.oid=d.oid and o.uid=#{uid}
    </select>


</mapper>